* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden; /* Prevents horizontal scroll but allows vertical */
  overflow-y: auto;   /* Enables vertical scrolling */
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-pic {
  width: 200px; /* Adjust size as needed */
  height: auto;
  border-radius: 10px; /* Optional: Adds rounded corners */
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.2); /* Optional: Adds a subtle glow effect */
  transition: transform 0.2s ease-in-out;
}

.profile-pic:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

@media screen and (max-width: 768px) {
  .parallax-section {
    /* background-size: contain; Adjust background size to contain for mobile */
  }
}
